/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2023 mahendra singh puniya
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * border-radius
   */

  --radius-15: 15px;
  --radius-25: 25px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);

}

.btn-primary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.btn-morePhoto {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
  text-align: center;
  align-content: center;

}

.btn-morePhoto:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.btn-secondary {
  border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.1);
}

.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 {
  color: var(--gunmetal);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 15px;
  /* margin-left: auto; */
  /* margin-right: auto; */

}

.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--gunmetal);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper {
  display: none;
}

.helpline-box .icon-box {
  background: var(--bright-navy-blue);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
}

.helpline-box .icon-box ion-icon {
  --ionicon-stroke-width: 40px;
}

.header-top .logo {
  margin-inline: auto;
}

.header-top .logo img {
  max-width: 100px;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn {
  font-size: 20px;
}

.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.2);
}

.header .btn {
  --padding: 4px 20px;
}

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img {
  width: 150px;
}

.nav-close-btn {
  font-size: 20px;
  color: var(--bright-navy-blue);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 80px;
}

.navbar-list {
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-list li {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-link {
  padding: 15px 20px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar-link:is(:hover, :focus) {
  color: var(--bright-navy-blue);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

.logotext {

  margin: auto;
  color: white;
  

}

/*  */
/* dropdown feature start  */
/*  */
.dropdown {
  position: relative;
  margin-top: 0;
}

.dropdown .dropdown-menu {
  text-align: center;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 50%;
  background: white; /* White background */
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  z-index: 2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.dropdown-menu a {
  padding: 15px 20px;
  color: var(--jet);
  color: black;
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}

.dropdown-menu a:hover {
  color: var(--bright-navy-blue);
}

/* Style for the dropdown indicator */
.dropdown-indicator {
  font-size: 14px;
  margin-left: 5px;
  color: var(--bright-navy-blue);
}

/* Responsive CSS for mobile */


@media (max-width: 768px) {

  .logoTop{
    font-weight: 300;
    font-family: 'Sacramento', cursive;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #2d303a, -2px -2px 0px #2d303a, -2px 2px 0px #2d303a, 2px -2px 0px #2d303a;
    color: #fff;
    width: 100%;
  }
  .logoTopMenu{
      
    font-weight: 300;
    font-family: 'Sacramento', cursive;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:  -2px 2px 0px #dee3f3, 2px -2px 0px #dee3f3;
    color: #000000;
    width: 100%;
  }
  .navbar-list {
    flex-direction: column;
  }
  
  .navbar-link {
    padding: 15px 20px;
  }
  
  .dropdown .dropdown-menu {
    /* border: 1px */
    position: static;
    display: none;
    box-shadow: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}


/* dropdown feature end  */

/* whatsapp fixed css start  */
.whapp {
  position: sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  -webkit-sticky;
  bottom: 18px;
  position: fixed;
  left: 14px;
  z-index: 2 !important;
}

.whapp-btn {
  display: flex;
  text-align: center;
  border-radius: 50%; /* Alterado para 50% para obter formato circular */
  height: 5rem;
  min-width: 5rem;
  background-color: #54c151;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .18);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  padding: 0.25rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.whapp-btn img {
  width: 46px;
  display: flex;
  text-align: center;
}

.whapp-btn:hover {
  background-color: #439a41;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0.7);
    border-radius: 50%; /* Adicionado para manter o formato circular */
  }
  70% {
    transform: scale(1.2);
    box-shadow: 
      0 0 0 10px rgba(84, 193, 81, 0),
      0 0 0 20px rgba(84, 193, 81, 0.4),
      0 0 0 30px rgba(84, 193, 81, 0.2),
      0 0 0 40px rgba(84, 193, 81, 0); /* Adicionado degradê com distanciamento */
    border-radius: 50%; /* Adicionado para manter o formato circular */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0);
    border-radius: 50%; /* Adicionado para manter o formato circular */
  }
}

.animated.pulse {
  animation: pulse infinite;
  animation-duration: 2s;
}

/* whatsapp fixed css end   */



/*-----------------------------------*\
 * #socail media handle start
\*-----------------------------------*/
/* Your general styles for the container and social profiles */
/* .container {
  display: flex;
  flex-wrap: wrap;
} */

.social-profile {
  display: flex;
  flex-wrap: wrap;
  width: 30%; /* Adjust the width as needed */
  margin: 10px;
  /* Additional styling for each social profile */
}

/* Media Query for Laptops/Desktops */
@media only screen and (min-width: 768px) {
  .social-profile {
    width: 30%; /* 30% width for each profile to fit 3 in a row */
  }
}

/* Media Query for Tablets and Mobile Devices */
@media only screen and (max-width: 767px) {
  .social-profile {
    width: 100%; /* Full width for each profile on smaller screens, line-wise */
  }
}


/*-----------------------------------*\
 * #socail media handle end
\*-----------------------------------*/

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  /* background-image: url("../images/hero-banner-1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}





/*-----------------------------------*\
 * #TOUR SEARCH
\*-----------------------------------*/

.tour-search {
  background: var(--bright-navy-blue);
  padding-block: var(--section-padding);
}

.tour-search-form .input-label {
  color: var(--white);
  font-size: var(--fs-4);
  margin-left: 20px;
  margin-bottom: 10px;
}

.tour-search-form .input-field {
  background: var(--white);
  padding: 10px 15px;
  font-size: var(--fs-5);
  border-radius: 50px;
}

.tour-search-form .input-field::placeholder {
  color: var(--spanish-gray);
}

.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--spanish-gray);
  text-transform: uppercase;
}

.tour-search-form .input-wrapper {
  margin-bottom: 15px;
}

.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}

/* -------------------------------- *\
    About us 
\* -------------------------------- */

.about {
  padding-block: var(--section-padding);
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.about-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.about-item:nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.para {
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
}






/*-----------------------------------*\
 * #POPULAR
\*-----------------------------------*/

.popular {
  padding-block: var(--section-padding);
}

.popular-list,
.popular-list>li:not(:last-child) {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
}

.popular-card .card-img {
  height: 100%;
}

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 10px;
}


.popular-card .card-rating {
  background: var(--bright-navy-blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--blue-ncs);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title {
  margin-bottom: 5px;
}

.popular-card :is(.card-subtitle, .card-title)>a {
  color: inherit;
}

.popular .btn {
  margin-inline: auto;
}





/*-----------------------------------*\
 * #PACKAGE
\*-----------------------------------*/

.package {
  padding-block: var(--section-padding);
}

.package-list {
  margin-bottom: 40px;
}

.package-list>li:not(:last-child) {
  margin-bottom: 30px;
}

.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}

.package-card .card-banner {
  height: 250px;
}

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card .card-content {
  padding: 9px 10px;
}

.package-card .card-title {
  margin-bottom: 15px;
}

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item {
  position: relative;
}

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
}

.meta-box>ion-icon {
  color: var(--bright-navy-blue);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--united-nations-blue);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews {
  font-size: var(--fs-5);
}

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon:last-child {
  color: hsl(0, 0%, 80%);
}

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn {
  margin-inline: auto;
}




/*-----------------------------------*\
 * #GALLERY
\*-----------------------------------*/

.gallery {
  padding-block: var(--section-padding);
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.gallery-item:nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
  background: var(--bright-navy-blue);
  padding-block: var(--section-padding);
}

.cta :is(.section-subtitle, .section-title, .section-text) {
  color: var(--white);
}

.cta .section-text {
  font-size: var(--fs-5);
}





/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/


/* for my footer link mahi start */

/* Style for the footer links */
.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin:  2px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  /* font-weight: bold; */
}

/* Hover effect for the links */
.footer-links a:hover {
  text-decoration: underline;
}

/* for my footer link mahi end  */

.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}

.footer-brand {
  margin-bottom: 30px;
}

.footer-brand img {
  width: 180px;
}

.footer-brand .logo {
  margin-bottom: 20px;
}

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
}

.footer-contact {
  margin-bottom: 30px;
}

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--bright-navy-blue);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-link,
address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) {
  color: var(--white);
}

.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn {
  width: 100%;
}

.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--gainsboro);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a:is(:hover, :focus) {
  color: var(--white);
}

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list>li {
  position: relative;
}

.footer-bottom-list>li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--white);
}



/* for facbook insat start */
.social-profile {
  width: 80%;
  margin: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .social-profile {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .social-profile {
    width: 100%;
  }
}
/* for facbook insat end  */














/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/


/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

  .section-text {
    margin-bottom: 40px;
  }

  .card-text {
    --fs-5: 15px;
  }



  /**
   * HEADER
   */

  .header {
    padding-top: 83px;
  }

  .helpline-box .icon-box {
    padding: 14px;
  }

  .header-top .logo img {
    max-width: unset;
  }

  .search-btn {
    font-size: 30px;
  }

  .nav-open-btn {
    font-size: 40px;
  }

  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }


  /* logo class start  */
  .logoTop{
      
    font-weight: 300;
    font-family: 'Sacramento', cursive;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #2d303a, -2px -2px 0px #2d303a, -2px 2px 0px #2d303a, 2px -2px 0px #2d303a;
    color: #fff;
    width: 100%;
  }
  .logoTopMenu{
      
    font-weight: 300;
    font-family: 'Sacramento', cursive;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #304899, -2px -2px 0px #304899, -2px 2px 0px #304899, 2px -2px 0px #304899;
    color: #000000;
    width: 100%;
  }

  .logo-footer{
    font-weight: 300;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px #0c1739, -2px -2px 0px #0c1739, -2px 2px 0px #0c1739, 2px -2px 0px #0c1739;
    color: #fff;
    width: 100%;
  }
  /* logo class end  */

  /**
   * HERO
   */

  .hero {
    min-height: 800px;
    padding-top: 85px;
  }

  .hero-text {
    --fs-5: 15px;
  }

  .btn-group {
    gap: 20px;
  }



  /**
   * TOUR SEARCH
   */

  .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
  }

  .tour-search-form .input-wrapper {
    margin-bottom: 0;
  }

  .tour-search-form .input-field {
    padding: 16px 20px;
  }

  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }



  /**
   * POPULAR
   */

  .popular-card .card-content {
    right: auto;
  }



  /**
   * FOOTER
   */

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-form {
    grid-column: span 2;
  }

  .footer-bottom {
    text-align: left;
  }

  .copyright {
    margin-bottom: 0;
  }

  .footer-bottom-list {
    justify-content: flex-end;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-5: 15px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 800px;
  }

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--white);
    font-size: var(--fs-6);
  }

  .social-list {
    gap: 10px;
  }



  /**
   * POPULAR
   */

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .popular-list>li:not(:last-child) {
    margin-bottom: 0;
  }

  .popular-card .card-content {
    right: 20px;
  }



  /**
   * PACKAGE
   */

  .package-list {
    margin-bottom: 50px;
  }

  .package-list>li:not(:last-child) {
    margin-bottom: 40px;
  }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner {
    height: 100%;
  }

  .package-card .card-content {
    padding: 40px;
  }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper {
    margin-bottom: 15px;
  }



  /**
   * GALLERY
   */

  .gallery {
    padding-bottom: calc(var(--section-padding * 2));
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-image {
    border-radius: var(--radius-25);
  }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-content {
    width: calc(100% - 225px);
  }

  .cta .section-text {
    margin-inline: 0;
  }



  /**
   * FOOTER
   */

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field {
    margin-bottom: 0;
  }

  .footer-form .btn {
    width: max-content;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1050px;
  }



  /**
   * HEADER
   */

  .header.active .header-top {
    position: unset;
    background: unset;
  }

  .nav-open-btn,
  .navbar-top {
    display: none;
  }

  .header-bottom {
    border-bottom: none;
  }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: var(--onyx);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
  }

  .header-bottom .container {
    padding-block: 0;
  }

  .header .navbar {
    all: unset;
  }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list li {
    border-bottom: none;
  }

  .navbar-link {
    color: var(--white);
    --fs-4: 16px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  .header.active .navbar-link {
    color: var(--onyx);
  }

  .header.active .navbar-link:is(:hover, :focus) {
    color: var(--bright-navy-blue);
  }

  .header.active .social-link {
    color: var(--onyx);
    border-color: hsla(0, 0%, 0%, 0.15);
  }

  .overlay {
    display: none;
  }



  /**
   * HERO
   */

  .hero .container {
    max-width: 740px;
  }



  /**
   * TOUR SEARCH
   */

  .tour-search-form {
    grid-template-columns: repeat(5, 1fr);
  }

  .tour-search .btn {
    --padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }



  /**
   * POPULAR
   */

  .popular-list {
    grid-template-columns: repeat(3, 1fr);
  }



  /**
   * PACKAGE
   */

  .meta-box {
    --fs-8: 13px;
  }

  .meta-box>ion-icon {
    font-size: 15px;
  }



  /**
   * CTA 
   */

  .cta .section-title {
    max-width: 25ch;
  }



  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form {
    grid-column: unset;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .footer-form .btn {
    width: 100%;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1180px;
  }

}



/* for team member start */

.team-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.team-member {
  width: 30%;
  margin: 15px;
  padding: 15px;
  /* background-color: #3e537a; */
  background-color:  #808080;
  /* border-top-left-radius: 5%; */
  /* border-top-right-radius: 15%; */
  /* text-align: center; */
}

.team-member img {
  width: 100%;
  height: fit-content;
  border-radius: 30%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 10px;
}
.team-member p {
  color: white;

}
.team-member h2 {
  color: white;
}
.team-member h4{
  color: #304899;
  size: 1px;
}
.social-links a {
  display: inline-block;
  margin-top: 10px;
}

.social-links img {
  width: 30px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .team-member {
    width: 90%;
    margin: 15px;
    padding: 15px;
    /* background-color: #433e3e; */
    /* text-align: center; */
  }
}

/* for team member end  */